@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: #fff;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #fff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
}


@media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: white;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
  
@media (max-width: 480px){
    body{
        font-family:"Public Sans", sans-serif;
    }
    .top-img{
        width:100%;
        height:100%;
    }
    .img-logo{
       position:relative;
       right:30px;
       top:20px;
    }
    .top-content{
        background-image: url(./images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
    }

    /* middle-content */
    .middle-content{
        text-align:center;
    }
    .middle-header{
        font-family:"Public Sans", sans-serif;
        font-weight:200;
        width:90%;
        margin-top:40px;
        margin-left:4%;
    }
    .middle-p{
        font-weight:100;
        color:hsl(233, 8%, 62%);
        font-size:15px;
        margin:20px 0px;
        line-height:1.5;
    }
    .request-btn{
        padding:13px 25px;
        border-radius:50px;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
        border:0px solid black;
        cursor:pointer;
        color:white;
        margin-top:25px;
        margin-bottom: 50px;
    }
    /* changed */
    .changes{
        background-color:hsl(220, 16%, 96%);
        text-align:center;
    }
    .change-header{
        padding-top:30px;
        padding-left:13%;
        width:90%;
        font-weight:200;
        padding-bottom:20px;
        line-height:1.2;
    }
    .change-content{
        color:hsl(233, 8%, 62%);
        padding-top:10px;
        line-height:1.5;
    }
    h2.small-headers{
      font-family:"Public Sans", sans-serif;
      font-weight:100;
      margin:15px 0px;
    }
    .changes-content{
      color:hsl(233, 8%, 62%);
      line-height:1.5;
    }
    .changes-image{
      margin-top:15px;
      margin-bottom:15px;
    }
    .api-content{
      padding-bottom:40px;
    }
    /* article */
    .article-header{
      font-family:"Public Sans", sans-serif;
      margin-top:90px;
      text-align:center;
      font-weight:300;
    }
    .ariticle-portion{
      margin:20px;
      background-color:hsl(220, 16%, 96%);
      border:1px solid white;
    }
    .article-images{
      width:100%;
      height:100%;
      border-radius:5px 5px 0px 0px;
    }
    .author{
      color:hsl(233, 8%, 62%);
      font-size:14px;
      font-weight:400;
      padding-left:30px;
      padding-top:20px;
    }
    .article-content{
      padding-left:30px;
      font-size:14px;
      padding-top: 15px;
      line-height:1.5;
      padding-bottom:50px;
      padding-right:10px;
    }
    .article-small-header{
      padding-left:30px;
      font-size:18px;
      font-weight:600;
      padding-top:15px;
    }
    .footer{
      background-color:hsl(233, 26%, 24%);
      text-align:center;
      color:white;
    }
    .footer-link{
      padding-top:20px;
    }
    .footer-icons{
      margin-top:40px;
      margin-right:10px;
    }
    .reserved{
      color:hsl(233, 8%, 62%);
      padding:30px 0px;
      padding-bottom:40px;
    }
}